body {
    background-color:aquamarine;
    font-family:sans-serif;
}

h1, h2, table, p, nav {
    border: 5px solid darkblue;
    border-radius:5px;
    margin:5px;
    padding:5px;
    background-color:greenyellow;
}

h2, h1 {
    text-align:center;
}

table, p, nav {
    font-size:20px;
}
